.footer{
    width: 90vw;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-left: 90px;
    position: relative;
    bottom: 0;
}

.revertBtn{
    /* border: 1px solid #bd0707; */
    width: min-content;
    margin-left: 20vw;
    padding: 7px 0px;
    border-radius: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
}

@media (max-width: 780px) and (min-width: 450px) {
    .footer{
        position: relative;
        width: 70vw;
        padding-left: 0px;
    }
}

@media (max-width: 450px) {
    .footer{
        position: relative;
        width: 80vw;
        padding-left: 0px;
    }
}
