.footer{
    width: 90vw;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-left: 90px;
    position: relative;
    bottom: 0;
}

@media (max-width: 780px) and (min-width: 450px) {
    .footer{
        position: relative;
        width: 70vw;
        padding-left: 0px;
    }
}

@media (max-width: 450px) {
    .footer{
        position: relative;
        width: 80vw;
        padding-left: 0px;
    }
}
